<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Creation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container" id="container">

    <h1>Gallery Creation</h1>
    <form role="form" method="post" th:action="@{/admin/galleries/create}" th:object="${gallery}">
        <div class="form-group">
            <!-- name and user-->
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required="required">

            <label for="user">User</label>
            <select class="form-control" id="user" name="userId" required="required">
                <option th:each="user: ${users}"
                        th:value="${user.id}"
                        th:text="${user.login}">
                </option>
            </select>

        </div>
        <div class="button">
            <button type="submit">Create</button>
        </div>
    </form>

</div>
</body>
</html>