<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Creation</title>
</head>
<body>
  <div class="container" id="container">

    <h1>User Creation</h1>
    <form role="form" method="post" th:action="@{/admin/users/create}" th:object="${user}">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" th:field="*{login}" required="required">

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}" required="required">

        <label for="role">Role</label>
        <select class="form-control" id="role" th:field="*{role}" required="required">
          <option th:each="role : ${roles}"
                  th:value="${role}"
                  th:text="${role}">
          </option>
        </select>
      </div>
      <button type="submit">Create</button>
    </form>

  </div>
</body>
</html>