<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Photos To Gallery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container" id="container">

  <h1>Gallery Creation</h1>
  <form role="form" method="post" th:action="@{/admin/galleries/addphotos}" enctype="multipart/form-data">
    <div class="form-group">
      <!-- gallery select -->

      <label for="gallery">Galleries</label>

      <select class="form-control" id="gallery" name="galleryId" required="required">
        <option th:each="gallery: ${galleries}"
                th:value="${gallery.id}"
                th:text="${gallery.name}">
        </option>
      </select>

      <!-- photos select from computer and adds it uploads folder -->
      <div class="form-group">
        <input type="file" name="image" accept="image/*" class="form-control-file">
      </div>

    </div>
    <div class="button">
      <button type="submit">Upload Image</button>
    </div>
  </form>

</div>
</body>
</html>