body {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-image: url('background.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    color: #090606;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.form-group input {
    border: aliceblue;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.border {
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
}

.border:hover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25px;
}


